@import "tailwindcss";



:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #1cff6c;
}

@theme {
  --color-*: initial;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #1cff6c;
  --color-primary-300: #0d8035;
  --color-primary-50: #05140a;
  --color-black: #0a0a0a;
  --color-primary-grey: #cbcbcb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", sans-serif;
}

@keyframes orbit {
  0% {
    transform: rotate(var(--angle)) translateX(var(--radius))
      rotate(calc(-1 * var(--angle)));
  }
  100% {
    transform: rotate(calc(var(--angle) + 360deg)) translateX(var(--radius))
      rotate(calc(-1 * var(--angle) - 360deg));
  }
}

.animate-orbit {
  animation: orbit var(--duration) linear infinite;
  transform-origin: center center;
}

.highlight-text{
  color:#0CE859;
}



/* Active FAQ Gradient Only at Top */
.faq-active {
  position: relative;
  background-color: #082313; /* bottom solid color */
  overflow: hidden;
  z-index: 1;
}

.faq-active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 130px; /* adjust height for effect */
  width: 100%;
  border-radius: inherit;
  background: radial-gradient(
    43.91% 58.17% at 56.09% -8.17%,
    #195e2d 0%,
    #052811 100%
  );
  pointer-events: none;
  z-index: -1;
}