@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #1cff6c;
}

@theme {
  --color-*: initial;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #00cf49;
  --color-primary-50: #05140a;
  --color-primary-100: #0a2613;
  --color-primary-200: #082f16;
  --color-primary-300: #0d8035;
  --color-primary-400: #009936;
  --color-primary-500: #0d3f1f;
  --color-black: #000;
  --color-primary-grey: #cbcbcb;
  --color-light-grey: #dfdfdf;
  --color-white: #ffff;
  --text-green-gradient: linear-gradient(to right, #25e8b1, #60f90d);
}

@layer utilities {
  .text-gradient {
    background: var(--text-green-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0000;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", sans-serif;
}

@keyframes orbit {
  0% {
    transform: rotate(var(--angle)) translateX(var(--radius)) rotate(calc(-1 * var(--angle)));
  }

  100% {
    transform: rotate(calc(var(--angle) + 360deg)) translateX(var(--radius)) rotate(calc(-1 * var(--angle) - 360deg));
  }
}

.animate-orbit {
  animation: orbit var(--duration) linear infinite;
  transform-origin: center center;
}

.highlight-text {
  color: #0ce859;
}

/* Active FAQ Gradient Only at Top */
.faq-active {
  position: relative;
  background-color: #082313;
  /* bottom solid color */
  overflow: hidden;
  z-index: 1;
}

.faq-active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 130px;
  /* adjust height for effect */
  width: 100%;
  border-radius: inherit;
  background: radial-gradient(43.91% 58.17% at 56.09% -8.17%,
      #195e2d 0%,
      #052811 100%);
  pointer-events: none;
  z-index: -1;
}


.primary-btn{
  background: #00EA52;
padding: 10px 20px;
}

.menu-list {}

.menu-list li {}

.menu-list .menu-item {
  padding: 0px 24px 5px;
  border-bottom: 2px solid #00EA5200;
  border-radius: 40px;
  display: block;
}

.menu-list .menu-item:hover {
  border-color: #0CE859;
  color: #0CE859;
}

.isActive {
  border-radius: 40px;
  border-bottom: 2px solid #0CE859 !important;
  color: #0CE859;
}

.menu-list .subMenu {
  top: 24px;
  padding: 24px 50px 50px;
  z-index: 1;
}

.menu-list .subMenu .isActive {
  border: none !important;
}

.menu-list .subMenu .isActive a {
  background: #009936;
  color: #fff;


}

.menu-list .subMenu li {
  line-height: normal;
  font-weight: 400;
  padding: 0;
}

.menu-list .subMenu li a {
  line-height: normal;
  font-weight: 400;
  width: 100%;
  transition: 0.5s;
  display: block;
  border-radius: 10px;
  padding: 10px 20px;
}

.menu-list .subMenu .subMenuInner {
  padding: 40px;
  border-radius: 0 0 10px 10px;
  background-position: bottom right;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #009936;
}

.menu-list .subMenu .subMenuInner .submenu-list {
  position: relative;
}

.menu-list .subMenu .subMenuInner .submenu-list::after {
  content: '';
  width: 1px;
  height: 100%;
  right: -15px;
  background: #0A420A;
  top: 0;
  position: absolute;
}

.submenuList a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #07481E80;
  transition: 0.3s;
  padding: 10px;
}

.submenuList a:hover {
  border-color: #07481E;
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(12, 64, 30, 1) 100%);
}

.sub-menu-list {
  background-size: cover;
  background-position: top left;
  padding: 15px 20px;
  border-radius: 10px;
  border: 1px solid;
  border-top: 0;
}

.sub-menu-list li {
  padding: 5px 10px;
}

.sub-menu-list a {
  color: #fff8;
}

.sub-menu-list a:hover {
  color: #fff;
}

.megaMenuItem::after {
  content: "";
  position: absolute;
  top: 38px;
  left: calc(50% - 10px);
  z-index: -1;
  transition: 0;
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  display: none;
  border-right: 11px solid transparent;
  border-bottom: 11px solid #009936;
}

.megaMenuItem:hover::after {
  display: block;
}




